#clock, #fake-clock{
    text-align: center;
    font-size: 86px;
    font-family: arial;
    margin-top: 28%;
}
#fake-clock{
	display: none;
}

.regColor{
	color: black;
}

.minColor{
	color: red;
}

.pause{
	text-align:center;
	font-family:Arial;
}